@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

html{
  scroll-behavior: smooth;
}

.single_page{
  height: calc(100vh - 64px);
}

.hidebars::-webkit-scrollbar{
  width: 1px;
  height: 0;
}

.monstera{
  font-family: 'Montserrat', sans-serif;
}

.saira{
  font-family: 'Saira Condensed', sans-serif;
}

.barlow{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
    transform: rotate(20deg);
    transform: rotate(-20deg);
  }
  75% {
    transform: translateX(-2px);
    transform: rotate(-20deg);
  }
  100% {
    transform: translateX(2px);
  }
}


.vibrating-element {
  animation: vibrate 0.3s infinite;
  animation-iteration-count: 10;
}

@keyframes streamColor {
  0% {
    background-color: rgba(144, 75, 198, 0.5);
    opacity: 0.7;
  }
  25% {
    background-color: rgba(44, 72, 255, 0.5);
    opacity: 0.9;
  }
  50% {
    background-color: rgba(119, 137, 255, 0.5);
    opacity: 0.7;
  }
  75% {
    background-color: rgba(144, 75, 198, 0.5);
    opacity: 0.9;
  }
  100% {
    background-color: rgba(44, 72, 255, 0.5);
    opacity: 0.9;
  }
}

.stream-color{
  animation: streamColor 0.8s infinite;
  animation-iteration-count: 8;
}

/* Define a keyframe animation for horizontal spinning */
@keyframes spin-horizontal {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* Apply the horizontal spinning animation to your element */
.spinning-element {
  animation: spin-horizontal 2s linear infinite;
  /* Adjust the duration and other properties as needed */
}

